/*mobile*/

header{
    background-color:var(--colorAmarillo) ;
}

header .search{
    display: flex;
    padding: 15px 10px;
    justify-content: space-between;
}

header .search .logo {
    width: 48%;
}

header .search .logo img{
    width: 100%;   
}

header .search .barra-buscador {
    width: 48%;
    display: flex;   
    align-items: center;
}

header .search .barra-buscador .barra {
    flex-grow: 1;
}

header .search .barra-buscador .barra .buscar_texto{
    width: 100%;    
    height: 25px;
}

header .barra-buscador button i{ 
    font-size: 16px;    
    padding: 2.5px;
}

header .compra{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}

header nav .menu{
    margin-bottom: 15px;
    
}

header nav .menu li a{
    color: var(--colorNegro);
    font-size: 12px;
}

header nav .usuario{
    margin-bottom: 15px;
    
}

header nav .usuario li a{
    color: var(--colorNegro);
    font-size: 12px;
}

header nav .usuario li a i{
    margin-left: 3px;
}

header nav{
    display: none;
}

header .menu-burguer {
    padding-bottom: 10px;
}

header .menu-burguer .btn-burguer{
    width: 50px;
    padding: 10px;
    background-color:var(--colorCeleste);
    display: block;
    color: var(--colorGrisClaro);
    font-size: 22px;
    margin:auto;
    text-align: center;
    border-radius: 7px;
}

@media (min-width: 768px){
    header nav {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }

    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin: 0 5px;
    }

    header .menu-burguer{
        display: none;
    }

    header  div{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .search{
        width: 66%;
    
    }
    
}