.home {
    width: 90%;
    margin:0 auto;
}

.home section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home  h2{
    font-size: 24px;
    margin: 15px 0px;
    color: var(--colorGrisOscuro);
    width: 100%;
}

.home  article{
    margin: 10px 0px ;
    background-color: var(--colorBlanco); 
}

.home article .descripcion{
    border-top:1px solid var(--colorGrisClaro) ;
    padding:15px;
    position: relative;
}

.home .descripcion i{
  color: var(--colorVerde);
  border-radius: 50%;
  border: 1px solid var(--colorVerde);
  padding: 5px;
  font-size: 16px;
  width: 30px;
  background-color: #fff;
  display: block;
  position: absolute;
  right: 20px;
  top: -15px;
}

.home .descripcion p{
    color: var(--colorGrisOscuro);
}

.home .descripcion h3{
    padding-top: 15px;
    color: var(--colorGrisOscuro);
    display: none;
}

.home section .descripcion .precio-descuento{
    display: flex;
}

.home .descripcion .precio{
    font-size: 18px;
    flex-grow: 0.3;
}

.home .descripcion .descuento{
    font-size: 16px;
    color: var(--colorVerde);
    flex-grow: 0.7;
}

/*tablet*/

@media (min-width: 768px){
    .home .descripcion h3{
        display: block;
    }
    
    .home article {
        box-shadow: 0px 0px 10px rgb(100 100 100);
        width: 48%;     
    }
   
}

/* desktop */
@media (min-width: 1024px){
    .home article{
        width: 20%;
    }
}





